
html{
    background: url(./Images/sun.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  
}
body{
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    background: #51dbf070;

    font-family: serif;
    font-style: italic;
    color: white;

}

.search{
    text-align: center;
    margin: 0px 0px 50px 0px;
    padding: 200px 10px 10px 10px;

}
.search.showSearch {
    transition: 3s;
    padding: 30px;
}

#town{
    width: 500px;
    height: 30px;
    background:rgb(31, 34, 44);
    opacity: 0.8;
    color: white;
    border: none;
    border-radius: 5px;

}

#town.smallTown {
    transition: 3s;
    width: 400px;
    height: 20px;
}

#btn{
    width: 100px;
    height: 32px;
    background:rgb(31, 34, 44);
    opacity: 0.8;
    color: white;
    border: none;
    border-radius: 5px;
}

#btn.smallBtn {
    transition: 3s;
    width: 100px;
    height: 23px;
}

#btn:hover{
    background: rgba(22, 25, 32, 0.623);
}

#cards{
    display: grid;
    margin: 30px 0px;
    padding: 10px;

    grid-template-columns: repeat(5,2fr);
    grid-column-gap: 10px;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

}

.card{
    border: none;
    padding: 10px;
    background: #5563FA;
    opacity: 0;
    position: relative;

}

.card.show {
    transition: 3s;
    opacity: 0.8;
}

img{
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

h1 {
    margin: 5px 0px;
    font-weight: 100;
}

.time {
    position: absolute;
    top: 15%;
    left: 75%;
}

.date, .time {
    font-weight: 100;
    font-size: 20px;
}

h5{
    display: inline-block;
    margin-left:10px ;
    position: absolute;
    left: 40%;
    top: 35%;
    font-weight: 100;
    font-size: 20px;

}

.temp {
    position: absolute;
    top: 30%;
    left: 43%;
    font-weight: 100;
    /*font-size: 30px;*/
}

.morning, .afternoon, .evening {
    font-weight: 100;
}

@media screen {

    html{
        background: url(/Images/sun.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }

    body{
        min-width: 100%;
        min-height: 100%;
    }

    #town{
        width: 300px;
        height: 30px;    
    
    }

    #town.smallTown {
        transition: 3s;
        width: 300px;
        height: 20px;
    }

    #btn {
        margin-top: 10px;
    }

    #cards{
      
        grid-template-columns: repeat(1,2fr);
        grid-column-gap: 10px;
    
    }

    .card {
        margin-top: 10px;
    }
    
}

@media (orientation:landscape) {
    #cards{
      
        grid-template-columns: repeat(3,3fr);
        grid-template-rows: repeat(3,2fr);
        grid-column-gap: 10px;
    
    }

    .time {
        visibility: hidden;
    }

}

